xmltools/schema/kitab.rnc

# https://relaxng.org/compact-tutorial-20030326.html

## WARNING: some attributes e.g. رقم are marked optional, but they should be required for the final version

default namespace = "http://www.sibawayhi.org/schema/2009/07/sibawayhi"
# default namespace = "http://www.sibawayhi.org/schema/2017/10/kitab"
# default namespace = "http://www.sibawayhi.org/schema/2009/07/kitab"
namespace xlink = "http://www.w3.org/1999/xlink"
namespace annot = "http://relaxng.org/ns/compatibility/annotations/1.0"
#include "xinclude.rnc"

start = bab

bab =
   element باب {
      attribute رقم { text },
      attribute بلاق { text },
      attribute درنبورج { text },
      attribute البكاء { text },
      attribute هارون { text },
      attribute يعقوب { text },
      element عنوان {		# title
          مقطع+
      },
      ( قسم
      | رأس
      | فقرة
      | قائمة
      | مقطع
      | شاهدة
      | هارون  # page break (bottom of page)
      | يعقوب  # page break (bottom of page)
      )+,
      التحرير
   }

قسم =                           # section
    element قسم {
        # attribute يعقوب { text }?, # page nbr
        # attribute هارون { text }?, # page nbr
        attribute هوية {text}, # id
        attribute قطع {"صفحة"}?,
        element عنوان {		# title
            text
        },
        ( فقرة
        | مقطع
        | شاهدة
        )+
    }

# free header
# always an editorial insertion
رأس = element رأس {
          attribute هوية {text}, # i.e. ID (هوية)
          # attribute هارون {text}, # page nbr in Haroun
          # attribute يعقوب {text}, # page nbr in Yaqoub
          attribute صنف {text}?, # indicates hdr level?
          (
              element عنوان { text },
              صفحة?
          )
      }

#segment
مقطع =  # seg
   element مقطع {		# segment
       attribute هوية { text }?, # id
       attribute رقم {text}?,    # serial
      ( text
      | حرف
      | حرفة # a single particle, e.g. ذلك or في
      | اسم
      | صفة
      | فعل
      | يفعل
      | فاعل
      | مصدر
      | ندبة
      | نداء
      | حلف
      | تحقير
      | نسبة
      | قبس
      | قول
      | مثال
      | مصغر
      | تصريف
      # بدل textual alternatives from editions
      # not to be confused with بديل (see below)
      | بدل
      | مبدأ
      | element سند {text}      # authority, e.g. وَزَعَمَ <سند>أَبُوْ الْخَطَّاْبِ</سند>
      | element شاعر {text}
      | إمالة
      | آية
      # | ص     # tech term: مصطلح
      # | شاهدة
      # | هارون | يعقوب
      | element برغث {empty} # abbrev for <qwl>أكلوني البراغيث</qwl>
      | text
      )+
   }

قائمة =
    element قائمة {
        element وحدة {
            مقطع
        }+
    }

#term
حرف = element حرف {		# term
      attribute صنف {text}?,
      attribute ج { "*" | "?"}?,
      attribute مثال { text }?, # فعل form
      attribute قول { text }?, # xref to qawl dup
      (text
      # | بديل
      )+
   }
# single particle
حرفة = element حرفة {text}

مثل = element مثل { text } # model, prototype
قبس = element قبس {  # model, prototype
          (text
          | حرف |
          قول |
          آية |
          مثال |
          إمالة |
          اسم |
          نداء |
          حلف |
          تحقير |
          نسبة |
          صفة )+
      }

اسم = element اسم {
          attribute عدد {
              "١" |             # singular
              "٢" |             # dual
              "ج" |              # pl
              "ق" |             # pl of قِلّة
              "ك" |             # pl of كثرة
              "جج"               # pl of pl جمع الجمع
          }?,
          attribute مثال {text}?, # prototype
          text
      }

صفة = element صفة {
          attribute عدد {
              "١" |             # singular
              "٢" |             # dual
              "ج" |             # pl
              "ق" |             # pl of قِلّة
              "ك" |             # pl of كثرة
              "جج"               # pl of pl جمع الجمع
          }?,
          text
      }

فعل = element فعل {
          attribute هوية {text}?,
          text
      }

يفعل = element يفعل {
          attribute هوية {text}?,
          text
      }

فاعل = element فاعل {
          # attribute هوية {text},
          text
      }
مصدر = element مصدر { text }
ثبات = element ثبات { text } # evidence (in مصراع)

ندبة = element ندبة { text }
نداء = element نداء { text }
حلف = element حلف { text }
تحقير = element تحقير { text }
نسبة = element نسبة { text }

## قول with inline alternatives, e.g.
## لَوْ قُلْتَ رَأَيْتُ زَيْدًا فَأَيْنَ عَمْرًا أو فَهَلْ بِشْرًا
## in this case:
## لَوْ قُلْتَ <قول>رَأَيْتُ زَيْدًا <أصل>فَأَيْنَ عَمْرًا</أصل> <أو/> <بديل>فَهَلْ بِشْرًا</بديل></قول> إلخ
## for examples see articles 82, 101:243
بديل = element بديل { text } # inline alternates (contrast بدل textual variants)

أصل = element أصل { text }
تقدير = element تقدير { text }
و = element و { text }
أو = element أو { text }


#quote
قول = # dictum
   element قول {		# qawl qwl cite quote
      attribute هوية {text}?,   # id
      attribute قول { text }?,  # xref to qawl dup
      attribute رقم {text}?,    # serial
      attribute وتد {text}?,	# وتد tent peg, i.e. anchor id
      attribute صنف {text}?,
      attribute ج {"*" | "؟"}?,  # judgment; "*" = لا يجوز
      attribute مثال {
          "٠"  # marks as redundant, do not include in igt section
          | "١"  # marks dictum as exemplary for the bab for indexing
      }?,
      (text
      | أصل
      | تقدير
      | و
      | أو
      | بدل
      | اسم
      | صفة
      | فعل
      | إمالة
     )+
   }

إمالة = element إمالة {text}

## principle, e.g. art. 457:
##        <مبدأ>مِثَالَ دَحْرَجَتْ وَزْنَتُهَا عَلَى أَْفْعَلت وفِعْلت</مبدأ>
مبدأ = # principle
   element مبدأ {		# principle
      (text
      | مادة?  # topic
      | فعل?
      | مثال?
      )+
   }

# diminutive مُصَغَّر
مصغر = element مصغر { text }

# formal prototype using ف ع ل
مثال = element مثال {    # prototype, e.g. <مثال>فَعْلَلَةٍ</مثال>
           attribute ج {"*" | "?"}?,  # judgment; "*" = لا يجوز
           attribute عدد {
              "١" |             # singular
              "٢" |             # dual
              "ق" |             # pl of قِلّة
              "ك" |             # pl of كثرة
              "ج"               # pl of جمع
          }?,
           # attribute ج { # part-of-speech جزء
           #     "فعلَ" |    # form I vb perf active 3rd m sg
           #     "فُعلَ" |    # form I vb perf passive 3rd m sg
           #     "يَفعلُ" |   # form I vb imperf active 3rd m sg
           #     "يُفعلُ" |   # form I vb imperf passive 3rd m sg
           #     "فعّلَ" |
           #     "فُعّلَ" |

           #     "فعلٌ"    # noun masc sg, any form
           # },
           text
       }

# exemplar, instantiation of verbal derivation/declension
تصريف = element تصريف { text } # e.g.  <تصريف>دَحْرَجْتُهُ دَحْرَجَةً</تصريف>

# technical term (مصطلح)
ص = element ص { مادة+, (text | متن) }

متن = element متن { text }

# topic, subject
مادة = element مادة { text }

# textual alternative e.g. 58:1, 59:132; 234:3
بدل =
    element بدل {
        element متن {
            attribute مصدر
                {"بك" | # src البكاء
                 "يع" | # src يعقوب
                 "ها" | # src هارون
                 "در" | # src derenbourg
                 "ب"    # src بلاق
                },
              text
        },
        ( element بك {text}
        | element يع {text}
        | element ها {text}
        | element در {text}
        | element ب {text})+
}

#ayah
آية =
   element آية {		# quranic verse
       attribute هوية { text }?, # id
       attribute سورة {text}?,
       attribute آية {text}?,
       ( text | نهاية )+
   }

نهاية =   # end-of-ayah, U+06DD
   element نهاية {
       attribute آية {text},
       empty
     }


#wasla
وصلة =
   element وصلة {		# wusla link xref
      attribute سبب {text},
      text
   }

فقرة = #paragraph
   element فقرة {		# fqra
       ( جملة
       | مقطع
       | قول
       | مثل
       | فه
       | هارون
       | شاهدة			# shahid
      )+
   }

#sentence
جملة =
   element جملة {		# jmla jumla sentence
      element عربية {		# arabic
         aratext+
      },
      element en {paratext}?,
      ( footnote
       | ednote
       | comment
       | note)*
   }

شاهدة = element شاهدة {		# shahid, witness
            attribute هوية { text }?, # id
            attribute شاعر { text }?,
            element تخريج {text}?,
            element بيت {
                مصراع,
                مصراع?
            }+
        }

تعليق =  # comment
   element تعليق {		# ta`lîq, matches cmt, body in comment
      attribute سبب {text}, 	# sbb - guy line leading to watid of footnote body
      aratext
   }

مصراع =
   element مصراع {
       (text | اسم | صفة | فعل | ثبات)+
   }

همش =				# hamish, footnote
   element همش {
      attribute سبب {text},	# sbb
      aratext
   }

#fh
فه =
   element فه {
      (text
       | قول
       | بند
      )+
   }

#bnd
بند =
   element بند {
      attribute أصل {text},
      attribute فرع {text}?,
      attribute ففرع {text}?
   }

################
صفحة =
   element صفحة {
      attribute بلاق { text }?,
      attribute درنبورج { text }?,
      attribute البكاء { text }?,
      attribute هارون { text }?,
      attribute يعقوب { text }?
   }



#haroun
هارون =
   element هارون {
      attribute مجلد {text},
      attribute صفحة {text}
   }

# edition: إميل بجيع يعقوب
يعقوب =
   element يعقوب {
      attribute مجلد {text},
      attribute صفحة {text}
   }

tk =
   element tk {
      attribute ar { text },
      attribute en { text }?,
      attribute gloss {text}?
   }
aratext =
   (text
    | جملة
    | قول
    | مقطع
    | آية
    | وصلة
    | مثل
    | element زنة {
       attribute صنف {text},
       text
    }
    | تعليق		# ta`lîq, matches cmt, body in comment
    | فه
    | همش
    | شاهدة			# shahid
    | هارون
   )+


paratext =
   ( text
    | element sentence { text }
    | tk
    | element cite {
       attribute sbb {text},
       element en {text}
    }
    | element zina {
       attribute class {text},
       text
    }
    | element prosody {text}
    | element cmt {		# comment ref, matches تعليق ta`lîq, body in comment
       attribute sbb {text},	# guy-line callout to wtd (foot)note body
       paratext
    }
    | element fn {
       attribute sbb {text},	# guy-line
       paratext
    }
    | i
    | em
    | b
    | element xl {text}		# inline transliteration
    | element ar {text}
    | link
    | هارون
   )+

i   = element i {text}
em  = element em {text}
b  = element b {text}

link =
   element link {
      attribute sbb {text},
      text
   }

comment =			# comment body
   element comment {
      attribute wtd {text}?,
      attribute xml:lang {text}?,
      paratext
   }

note =
   element note {
      attribute xml:lang {text}?,
      text
   }

footnote =
   element footnote {
      attribute xml:lang {text}?,
      attribute sbb { text },	# sabab, line to watid
      paratext
   }

ednote =
   element ednote {
      attribute xml:lang {text}?,
      attribute wtd { text }?,	# وتد tent peg, i.e. anchor id
      paratext
   }


التحرير = # editorial status
    element التحرير {
          attribute نشر {text}?, # date of publication
          # rev="0" - not started
          element تشكيل {
              attribute نسخة {text}, # revision
              attribute نسبة {text}  # pct
          },
          element تقطيع { # segmentation
              attribute نسخة {text},
              attribute نسبة {text}  # pct
          },
          element أقوال {
              attribute نسخة {text},
              attribute نسبة {text}
          }?,
          element شواهد {
              attribute نسخة {text},
              attribute نسبة {text}
          }?,
          element آيات {
              attribute نسخة {text},
              attribute نسبة {text}
          }?,
          element أمثلة {
              attribute نسخة {text},
              attribute نسبة {text}
          }?
      }
